@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body{
    background-color:#252b37;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;

}

.leftBox{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    gap: 60px;
}

.leftText{
    text-align: center;
    /* font-family: "Archivo Black", sans-serif; */
    font-style: normal;
    font-size: xx-large;
    color: #fb6161;
    font-weight: 700;
}
.ButtComp{
    /* font-family: "Archivo Black", sans-serif; */
    font-weight: 400;
    font-style: normal;
    background-color: #fb6161;
    border: 2px solid#00e8f2;
    width: 150px;
    border: none;
    color: white;
    box-shadow: none;
}

button{
    align-items: center;
    color: white;
    /* font-family: "Archivo Black", sans-serif; */
    font-weight: 400;
    font-style: normal;
    background-color: #252b37;
    display: block;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: rgb(165 165 165 / 77%) 0px 2px 8px 0px;
    margin-top: 20px;
    width: 200px;
    /* display: flex; */
    /* justify-content: center; */
    /* border-radius: 10px; */
}


.parent{
    display: flex;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.badaCon{
    display: flex;
    justify-content: center;

}
.grid-container{
    display: flex;
    justify-content: center;
    width: 360px;
    flex-wrap: wrap;

}

.fa-solid{
    margin-top: 20px;
    margin-left: 10px;
    /* size: 100px; */
}
.fa-question{
    margin-right: 10px;
}


.grid-item{
    background-color: #e3e3e3;
  width: 35px;
  margin: 1px;
  aspect-ratio: 1;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  caret-color: none;
  transition: all 0.2s;
}
.grid-item:focus{
    outline: none;
    background-color: #d0c4e8;
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* border: 2px solid red; */
}

input:nth-child(3n){
    margin-right: 4px;

}
input:nth-child(n+19):nth-child(-n+27),
input:nth-child(n+46):nth-child(-n+54){
    margin-bottom: 4px;
}


input.focused{
    background-color: #b1c8eb;
}
.grid-container > input.firstClick{
    background-color : #fca3a3; 
}

.badaCon input.makePurple{
    background-color : #b1c8eb ; 
}
.badaCon .grid-container input.makeBold{
    font-weight: 500;
    font-size: x-large;
}
dialog{
    max-width: 360px;
    padding: 40px 20px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    position: relative;
}
.dial{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

dialog button{
    align-items: center;
    color: white;
    /* font-family: "Archivo Black", sans-serif; */
    font-weight: 400;
    font-style: normal;
    background-color: #252b37;
    display: block;
    border-radius: 10px;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 10px 40px;
    margin: auto;
}
.icon{
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    margin-top: 0;
    margin-left: 0;
}